$colorWindowBackground: #C6BCB9;
$colorWindowTopBarGradientLeft: #000635;
$colorWindowTopBarGradientRight: #a3c1e9;
$colorWindowTopBarFont: #FFF;
$colorWindowBorderLight: #DAD4D0;

$fontSizeTopBarTitle: 14px;

$spacingBase: 5px;